body{
    width: 100%;
    height: 739px;
}

#home_main{
   width: 100%;
   height: 639px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}



#imagem_main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#menu-lateral {
    position: fixed;
    top: 0;
    right: -250px;  
    width: 250px;
    height: 100%;
    background-color: #fff678;
    transition: right 0.3s ease; 
    z-index: 1;

  }

  #menu-lateral ul {
    list-style: none;
    padding: 0;
  }
  
 #titulo_menu_lateral{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center ;
    justify-content: center;
    color: white;
    background-color: #d56981;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
 }
 #main_menu_lateral{
    display: flex;
    width: 100%;
    height: 590px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #fff5e2;
    border-top: 10px solid transparent;
 }
 #missao_menu_lateral{
    display: flex;
    width: 95%;
    height: 60px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    color: #d56981;
    font-size: 15px;
    background-color: aliceblue;
    cursor: pointer;
    
 }
 #visao_menu_lateral{
    display: flex;
    width: 95%;
    height: 60px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    color: #d56981;
    font-size: 15px;
    background-color: aliceblue;
    cursor: pointer;
 }

 #valores_menu_lateral{
    display: flex;
    width: 95%;
    height: 60px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    color: #d56981;
    font-size: 15px;
    background-color: aliceblue;
    cursor: pointer;
 }

 #desejicias_menu_lateral{
    display: flex;
    width: 95%;
    height: 60px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    color: #d56981;
    font-size: 15px;
    background-color: aliceblue;
    cursor: pointer;
 }
 #missao_menu_lateral:hover{
    display: flex;
    align-items: center;
    width: 95%;
    height: 60px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    color: #d56981;
    font-size: 19px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s ease all;
    transform: scale(0.9);
    
 }
 #valores_menu_lateral:hover{
    display: flex;
    align-items: center;
    width: 95%;
    height: 60px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    color: #d56981;
    font-size: 19px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s ease all;
    transform: scale(0.9);
    
 }
 #visao_menu_lateral:hover{
    display: flex;
    align-items: center;
    width: 95%;
    height: 60px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    color: #d56981;
    font-size: 19px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s ease all;
    transform: scale(0.9);
    
 }
 #desejicias_menu_lateral:hover{
    display: flex;
    align-items: center;
    width: 95%;
    height: 60px;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    color: #d56981;
    font-size: 19px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s ease all;
    transform: scale(0.9);
    
 }
 a{
    text-decoration: none;
    color: #d56981;
 }
 
 #insta_menu_lateral a{
    text-decoration: none;
    color: #ffffff;
 }

 #insta_menu_lateral{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    width: 100%;
    gap: 10px;
    height: 90px;
    background-color: #d56981;
 }

 /*---------------------------------------------------MISSAO HOME------------------------------------------------------------------------*/ 

#missao_html_main{
   width: 100%;
   height: 639px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

#missao_main{
    display: flex;
    width: 90%;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #d56981;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Figtree', sans-serif;
    font-family: 'Merienda', cursive;
    font-family: 'Montserrat', sans-serif;
}

#descricao_missao_main{
    display: flex;
    width: 90%;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #d56981;
    text-align: start;
    font-family: 'Figtree', sans-serif;
    font-family: 'Merienda', cursive;
    font-family: 'Montserrat', sans-serif;
}

#visao_main{
    display: flex;
    width: 90%;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #d56981;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Figtree', sans-serif;
    font-family: 'Merienda', cursive;
    font-family: 'Montserrat', sans-serif;
}
#descricao_visao_main{
    display: flex;
    width: 90%;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: start;
    color: #d56981;
    font-family: 'Figtree', sans-serif;
    font-family: 'Merienda', cursive;
    font-family: 'Montserrat', sans-serif;
}
/*-----------------------------------------------------------VALORES HOME--------------------------------------------------------------------*/

#main_valores{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 639px;
   gap: 30px;
}

#main_valores h1{
   display: flex;
   width: 100%;
   height: 65px;
   color: #e4768e;
   align-items: center;
   justify-content: center;
   font-size: 90px;
   font-weight: bolder;
   font-family: 'Figtree', sans-serif;
   text-shadow: 2px 2px 4px rgba(207, 187, 115, 0.792);

}

#meio_main_valores{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 569px;
   gap: 50px;
}

#um_tres{
   display: flex;
   flex-direction: column;
   width: 30%;
   height: 530px;
}

#colher{
   display: flex;
   flex-direction: column;
   width: 14%;
   height: 540px;

}

#dois_quatro{
   display: flex;
   flex-direction: column;
   width: 30%;
   height: 530px;

}

#um{
   display: flex;
   border-top: 13px solid #F2DDB6;
   width: 100%;
   height: 50%;
}
#tres{
   display: flex;
   border-top: 13px solid #F2DDB6;
   width: 100%;
   height: 50%;
}

#dois{
   display: flex;
   border-top: 13px solid #F2DDB6;
   width: 100%;
   height: 50%;
}
#quatro{
   display: flex;
   border-top: 13px solid #F2DDB6;
   width: 100%;
   height: 50%;
}
/*-----------------------------------------------------------CARDAPIO HOME--------------------------------------------------------------------*/

header{
   width: 100%;
   height: 90px auto;
   text-align: center;
   align-items: center;
   justify-content: center;
   display: flex;
   border-top: 20px solid transparent;
   border-bottom: 10px solid transparent;
}

#hum_header_cadapio {
   width: 87%;
   color: #d56981;
   height: 280px;
   display: flex;
}

#hum_header_cadapio img {
   position: relative;
   display: inline-block;
   border-radius: 10px;
   transition: filter 0.5s ease;
}

#hum_header_cadapio img:hover {
   filter: brightness(60%);
   position: relative;
   display: inline-block;
   border-radius: 10px;
}

#info_imgcozinha{
   width: 400px;
   height: 180px;
   position: absolute;
   top: 23%; /* Posição de topo em relação à imagem */
   left: 11%; /* Posição da esquerda em relação à imagem */ /* Cor de fundo com transparência */
   padding: 10px; /* Espaçamento interno */
   flex-direction: row;
   display: flex; 
}
#main_cardapio{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 1000px;
   
}

#img_info_imgcozinha{
   display: flex;
   width: 40%;
   height: 160px ;
   align-items: center;
   justify-content: center;
}


#info_imgcozinha_horarios{
   display: flex;
   width: 60%;
   height: 100px auto;
   flex-direction: column  ;
   justify-content: start;
   text-align: start;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* Três colunas com tamanhos iguais */

   row-gap: 30px;
   column-gap: 150px;
}

.item {
   width: 300px;
   height: 290px;
}

.item :hover{
  transition: transform 0.5s ease-in-out, opacity 0.9s ease-in-out;
  transform: scale(0.9); /* Aumenta o tamanho da caixa */
  opacity: 0.7; /* Diminui a opacidade para suavizar a transição */
}
